[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/SmileYu
[access "refs/for/refs/*"]
	read = group user/SmileYu
	push = group user/SmileYu
	label-Code-Review = -2..+2 group user/SmileYu
	label-Verified = -1..+1 group user/SmileYu
	rebase = group user/SmileYu
	removeReviewer = group user/SmileYu
	submit = group user/SmileYu
[access "refs/heads/*"]
	read = group user/SmileYu
	create = group user/SmileYu
	push = +force group user/SmileYu
	pushMerge = group user/SmileYu
[access "refs/tags/*"]
	push = +force group user/SmileYu
	pushTag = group user/SmileYu
	pushSignedTag = group user/SmileYu
